@import "../../style.scss";

.leftBar {
  @include themify($themes) {
    width: 250px;       // Đặt một chiều rộng cố định (bạn có thể điều chỉnh)
    flex-shrink: 0;   // Ngăn nó bị co lại
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bg");
    color: themed("textColor");

    @include mobile {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 20px;

      hr {
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }

      .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
          text-decoration: none;
          color: inherit;

          &:hover {
            .item {
              background-color: themed("bgSoft");
            }
          }
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 5px;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: themed("bgSoft");
          }

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
            flex-shrink: 0;
          }

          span {
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 1;
          }
        }

        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 5px;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background-color: themed("bgSoft");
          }

          img {
            width: 30px;
            height: 30px;
            object-fit: contain;
            flex-shrink: 0;
          }

          span {
            font-size: 14px;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}